[flake8]
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,unittests,*test_*,*_test*,*/tests/*
select = C,E,F,W,B
ignore = E203, E501, W503, B950
max-line-length=80
rst-roles =
    class,
    func,
    ref,
rst-directives =
    envvar,
    exception,
