[flake8]
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,unittests,*test_*,*_test*
extend-ignore=E501
rst-roles =
    class,
    func,
    ref,
rst-directives =
    envvar,
    exception,
