---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/commitizen-tools/commitizen
      rev: v2.29.2
      hooks:
          - id: commitizen
            stages: [commit-msg]
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: check-ast
            stages: [commit]
          - id: end-of-file-fixer
            stages: [commit]
          - id: mixed-line-ending
            stages: [commit]
          - id: check-toml
            stages: [commit]
          - id: trailing-whitespace
            exclude: cm-cfg
            stages: [commit]
          - id: check-docstring-first
            stages: [commit]
          - id: check-yaml
            stages: [commit]
          - id: check-json
            stages: [commit]
          - id: pretty-format-json
            args: [--autofix, --indent=4]
            stages: [commit]
          - id: check-added-large-files
            stages: [commit]
          - id: requirements-txt-fixer
            stages: [commit]
          - id: check-merge-conflict
            stages: [commit]
          - id: debug-statements
            stages: [commit]
          - id: check-executables-have-shebangs
            language: python
            files: \.py$
            stages: [commit]
    - repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.3.0
      hooks:
          - id: remove-crlf
            stages: [commit]
          - id: remove-tabs
            exclude: cm-cfg
            stages: [commit]
          - id: forbid-crlf
            stages: [commit]
          - id: forbid-tabs
            exclude: cm-cfg
            stages: [commit]
    - repo: https://github.com/myint/eradicate
      rev: v2.1.0
      hooks:
          - id: eradicate
            name: eradicate
            description: Apply eradicate
            entry: eradicate
            language: python
            files: \.py$
            args: [--in-place]
            stages: [commit]
    - repo: https://github.com/timothycrosley/isort
      rev: 5.10.1
      hooks:
          - id: isort
            name: isort
            entry: isort
            require_serial: true
            language: python
            types: [python]
            stages: [commit]
    - repo: https://github.com/asottile/pyupgrade
      rev: v2.37.3
      hooks:
          - id: pyupgrade
            args: [--py36-plus]
            stages: [commit]
    - repo: https://github.com/ikamensh/flynt/
      rev: '0.76'
      hooks:
          - id: flynt
            stages: [commit]
    - repo: https://github.com/psf/black
      rev: 22.6.0
      hooks:
          - id: black
            description: 'Black: The uncompromising Python code formatter'
            args: [--safe]
            stages: [commit]
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.9.2
      hooks:
          - id: flake8
            additional_dependencies:
                - flake8-docstrings
                - flake8-rst
                - flake8-rst-docstrings
                - flake8-bugbear
            stages: [commit]
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: pylint
            language: system
            types: [python]
            args: [-rn, -sn]
          - id: unittests
            name: unittests
            entry: pytest
            language: python
            pass_filenames: false
            args: [--disable-warnings, -r N, unittests]
            stages: [push]
            verbose: true
    - repo: local
      hooks:
          - id: integrationtests
            name: integrationtests
            entry: pytest
            language: python
            pass_filenames: false
            args: [--disable-warnings, -r N, integrationtests]
            stages: [push]
            verbose: true
