[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
[access "refs/*"]
	owner = group user/Matthew McClintock (mattsm)
	owner = group user/Michele Gualco (mgualco-contractor)
	owner = group user/Mike Anderson (mbanders)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Matthew McClintock (mattsm)
	label-Code-Review = -2..+2 group user/Michele Gualco (mgualco-contractor)
	label-Code-Review = -2..+2 group user/Mike Anderson (mbanders)
	label-Verified = -1..+1 group user/Matthew McClintock (mattsm)
	push = group user/Matthew McClintock (mattsm)
	read = group user/Matthew McClintock (mattsm)
	rebase = group user/Matthew McClintock (mattsm)
	removeReviewer = group user/Matthew McClintock (mattsm)
	submit = group user/Matthew McClintock (mattsm)
	submit = group user/Michele Gualco (mgualco-contractor)
	submit = group user/Mike Anderson (mbanders)
[access "refs/heads/*"]
	create = group user/Matthew McClintock (mattsm)
	push = +force group user/Matthew McClintock (mattsm)
	pushMerge = group user/Matthew McClintock (mattsm)
	read = group user/Matthew McClintock (mattsm)
	editAssignee = group Registered Users
[access "refs/tags/*"]
	push = group user/Matthew McClintock (mattsm)
	push = +force group user/Matthew McClintock (mattsm)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
[reviewer]
	enableByEmail = true
