argparse
beautifulsoup4
boto3
cdrouter
countrycode
dlipower
easysnmp
elasticsearch>=1.0.0
Faker
future
ipaddress
jira
matplotlib
nested_lookup
netaddr
pexpect
pymongo
pyserial
pyvirtualdisplay
requests
selenium
simplejson
six
sphinx
termcolor
unittest2
zeep
pysmi
xmltodict
pysnmp
