argparse
beautifulsoup4
boto3
cdrouter
countrycode
dlipower
dnspython
easysnmp
elasticsearch>=1.0.0
aenum
Faker
future
ipaddress
jira
marshmallow<3
matplotlib
nested_lookup
netaddr
pexpect
pycryptodome
pymongo
pyserial
pysmi
pysnmp
pyvirtualdisplay
requests
selenium
simplejson
six
sphinx
termcolor
unittest2
xmltodict
zeep
