argparse
elasticsearch>=1.0.0
unittest2
pexpect
beautifulsoup4
termcolor
selenium
future
dlipower
cdrouter
pymongo
pyserial
ipaddress
easysnmp
jira
simplejson
pyvirtualdisplay
Faker
zeep
matplotlib
netaddr
countrycode
boto3
requests
