# Test Suites can also be defined in testsuites.py.
# Use this file for simple test suites.
# Suite names are in brackets []
# Test names must match tests found in files in the tests directory.

[basic]
RootFSBootTest
Uname
RouterPingWanDev
